.test{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.label{
    padding-right: 10px;
}

.submitBtn{
    color: white;
    background: forestgreen;
    border: 1px solid forestgreen;
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
}

.resetBtn{
    color: white;
    background: red;
    border: 1px solid red;
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
}

.correctAns{
    color: green;
}

.wrongAns{
    color: red;
}

.list{
    list-style-type: none;
    padding: 0;
}

.marks{
    font-weight: 700;
    clear: both;
    float: right;
}