body {
  margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    background-color: aliceblue;
  font-family: sans-serif;
  background-image: -moz-repeating-radial-gradient(50% 50%, circle, #ffffff, #ffffff 1px, #e6e6e6 1px, #e6e6e6 2px);
}
